.form {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 16px;
  align-items: center;
}

.form textarea {
  height: 100px;
  padding: 8px;
}

.label__inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label__inline input {
  padding: 8px;
}
