.guestcount {
  width: 100%;
  padding: 8px 12px;
  text-align: right;
}

.guestlist {
  position: relative;
  display: grid;
  grid-template-areas: "address timestamp" "message message" "sponsored sponsored";
  gap: 8px;
  padding: 8px 12px;
  border-top: 1px solid var(--extraLightGold);
  /* border-top: 1px solid var(--darkGold); */
  @media screen {
    @media (max-width: 768px) {
      grid-template-areas: "address addres" "timestamp timestamp" "message message" "sponsored sponsored";
    }
  }
}

.guestlist__address {
  grid-area: address;
  font-size: 12px;
}

.guestlist__timestamp {
  grid-area: timestamp;
  text-align: right;
  font-size: 12px;
  @media screen {
    @media (max-width: 768px) {
      text-align: left;
    }
  }
}

.guestlist__message {
  grid-area: message;
  font-size: 16px;
}

.guestlist__sponsored {
  grid-area: sponsored;
  text-align: right;
  font-size: 12px;
}
