.faq {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.faq__item > button {
  text-align: left;
  border: 0;
  width: 100%;
  font-family: inherit;
  padding: 8px;
  background: var(--lightGold);
}

.faq__item > div {
  text-align: left;
  padding: 8px;
}
